/Datasets_Audios_Medicos/Transcriptions/ai_transcriptions
/Datasets_Audios_Medicos/Audios
#Ignorar arquivos de audio
*.mp3
*.wav

#Ignorando variáveis de ambiente
*.env

# Ignorando client do GCP STT
/application/gcp/settings/keys

*.pyc